body {
    background-color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    font-family: Helvetica;
}
/* NAV */

.navbar {
    background-color: #eee;
    display: flex;
}

.navbar h1 {
    padding: 0 20px;
    line-height: 1em;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item a {
    margin: 1em;
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    color: white;
    background-color: #333;
}

/* Paragraphs */
p {
    width: 50%;
    text-align: left;
    margin: 0 auto;
    font-size: 1.2em;
}

/* FOOTER */

footer {
    width: 100%;
    color: #111;
    background-color: #eee;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
}

/* DOGS */
.dogs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.dogs img {
    height: 500px;
    margin: 20px;
}

/* CATS */
.cats {
    display: flex;
    justify-content: left;
    overflow: scroll;
    background-color: #111;
    padding: 20px;
}

.cats img {
    height: 400px;
    margin: 20px;
    padding: 0;
    border: 1px black solid;
}